@import "../config/functions";
@import "../config/mixins";

.header {
	z-index: 50;
	inline-size: 100%;
	transition: background-color var(--bs-transition);
	transition: all 0.3s ease;
	background: #000;
	.header-is-sticky & {
		// ..стили для липкого хедера
		position: fixed;
		background-color: rgb(10 10 10 / 90%);
		padding: 16px 0;
	}

	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		block-size: rem($header-height);
		align-items: center;

		.header-is-sticky & {
			block-size: rem($header-height - 50);
		}
	}

	.logo{
		display: flex;
		max-width: 90px;
		height: 65px;
		img{
			display: flex;
			width: 100%;
			height: 100%;
		}
	}

	.menu{
		display: flex;
		flex-direction: column;
		a,p{
			color: #fff;
			font-size: 18px;
			margin: 0;
			text-align: right;
		}
		p{
			margin: 10px 0 0 0;
		}
	}

	&__button{
		padding: 16px 30px;
		background: #5B6460;
		font-family: 'dinpro_light', sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		color: #fff;
		border: 1px solid #5B6460;
		transition: all 0.5s ease;
		&:hover{
			background: none;
			color: #5B6460;
		}
	}

	.mobile-menu{
		position: fixed;
		right: -100%;
		top: 0;
		width: 100%;
		min-height: 100vh;
		background: #000;
		transition: all 0.5s ease;
		z-index: 4;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&__logo{
			max-width: 200px;
			width: 100%;
			height: auto;
			img{
				display: flex;
				width: 100%;
				height: 100%;
			}
		}
		&__list{
			text-align: center;
			margin: 16px 0;
			max-width: 350px;
		}
		&__item{
			margin: 8px 0;
			font-family: 'dinpro_light', sans-serif;
			font-size: 18px;
			text-transform: uppercase;
			a{
				color: #fff;
				position: relative;
				&::before{
					position: absolute;
					left: 0;
					bottom: -2px;
					content: '';
					background: #fff;
					height: 1px;
					width: 0;
					transition: all 0.5s ease;
				}
				&:hover{
					&::before{
						width: 100%;
					}
				}
			}
		}
		&__button{
			margin: 80px 0 0 0;
			padding: 20px 60px;
			background: #FC1D1D;
			font-family: 'dinpro_light', sans-serif;
			font-size: 18px;
			color: #fff;
			border: 1px solid #FC1D1D;
			transition: all 0.5s ease;
			max-width: 280px;
			width: 100%;
			text-align: center;
			&:hover{
				background: none;
				color: #fff;
			}
			&.transparent{
				margin: 16px 0 0 0;
				border: 1px solid #fff;
				background: none;
				&:hover{
					background: #fff;
					color: #000;
				}
			}
		}
	}

	@include media-mx(1024){
		.logo{
			max-width: 75px;
			height: 50px;
		}
		&__button{
			padding: 10px 20px;
		}
	}
	@include media-mx(768){
		.menu{
			display: none;
		}
		&__button{
			display: none;
		}
	}
}

.menu-open{
	.mobile-menu{
		right: 0;
	}
}

// Burger

.icon-menu {
  display: none;

  @include media-mx(768) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #fff;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
