@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Mulish;
	font-display: swap;
	src: url("../fonts/Mulish-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: OpenSans-Light;
	font-display: swap;
	src: url("../fonts/OpenSans-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: OpenSans-Regular;
	font-display: swap;
	src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: OpenSans-SemiBold;
	font-display: swap;
	src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: dinpro_light;
	font-display: swap;
	src: url("../fonts/dinpro_light.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: dinpro_medium;
	font-display: swap;
	src: url("../fonts/dinpro_medium.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

